version: '3.8'

networks:
  obama_network:
    ipam:
      driver: default
      config:
        - subnet: 170.0.0.0/16


services:
  obama-app:
    image: obamaapi:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILE=local
      - SPRING_DATASOURCE_URL=jdbc:h2:mem:obama
      - SPRING_DATASOURCE_USERNAME=sa
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_H2_CONSOLE_ENABLED=true
      - SPRING_H2_CONSOLE_PATH=/h2-console
      - SPRING_H2_CONSOLE_SETTINGS_WEB_ALLOW_OTHERS=true
    networks:
      obama_network:
        ipv4_address: 170.0.0.3

