spring:
  datasource:
    url: jdbc:h2:mem:obama;DB_CLOSE_ON_EXIT=FALSE;
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: none
      show_sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true

api:
  security:
    token:
      secret: ${JWT_SECRET}
