logging:
  level:
    org:
      flywaydb: DEBUG

spring:
  datasource:
    url: jdbc:h2:mem:obama;DB_CLOSE_ON_EXIT=FALSE;
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create
  flyway:
    enabled: true
    baseline-on-migrate: true
