springdoc:
  api-docs:
    enabled: true

spring:
  jpa:
    open-in-view: false
  cache:
    cache-names: temaconteudos,niveisensino,anosensino,disciplinas
    caffeine:
      spec:
        maximumSizes: 10000
        expireAfterAccess: 600
        initialCapacity: 100

server:
  port: 8081

api:
  security:
    token:
      issuer: "obama-api"
